@import url(https://therichpost.com/responsivestyle/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
.logo{font-size: 3rem;}


.icon
{
  display: flex;

}
.toolbar{
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon
{
  display: flex;

}
.toolbar{
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
