










<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/login_img.svg" height="100%" width="100%">
        </div>
        <div class="col-md-4 mt-auto">
            <h3 class="text-success text-center mb-0 fs-3"><b>Employee management system</b></h3>

            <form action="" class="mt-3 p-5" [formGroup]="loginForm" >
                <h5 class="text-primary fs-5 mb-4">Login </h5>
                <div class="form-floating mb-3 ">
                    <input type="text"  class="form-control" id="floatingInput" formControlName="username" [(ngModel)]="username">
                    <label for="floatingInput">Username</label>
                    <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
                      <div *ngIf="f['username'].errors && f['username'].errors['required']">Username is required.</div>
                  </div>
                  <div class="form-floating mt-3">
                    <input type="password" class="form-control" id="floatingPassword" formControlName="password" [(ngModel)]="password">
                    <label for="floatingPassword">Password</label>
                    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                      <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                  </div>
                  </div>
                  <!-- <div class="form-floating mt-3">
                    <select class="form-select" id="floatingSelect" aria-label="Role" formControlName="role" [(ngModel)]="roles">
                      <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                    </select>
                    <label for="floatingSelect">Role</label>
                    <div *ngIf="f['role'].touched && f['role'].invalid" class="alert alert-danger">
                      <div *ngIf="f['role'].errors && f['role'].errors['required']">Role is required.</div>
                  </div>
                  </div> -->

                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2 mt-3" type="button"  [disabled]="loginForm.invalid" (click)="login()" >Login</button>

                  </div>
                     </div>
                 </form>

        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
