<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <!-- Vertical Navbar -->
  <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
      <div class="container-fluid">
          <!-- Toggler --> <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> <!-- Brand -->  <div class="icon"><img src="../../assets/login_img.svg" class="avatar avatar-sm rounded-circle ms-3">
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-2 logo fs-2 mt-0" href="#"> Employee </a>
          </div>

          <div class="collapse navbar-collapse" id="sidebarCollapse">
              <!-- Navigation -->
              <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="#" routerLink="/employee-dashboard"> <i class="bi bi-house"></i> Dashboard </a> </li>
                <li class="nav-item"> <a class="nav-link" href="#" routerLink="/emp-payroll" > <i class="bi bi-bar-chart"></i> Payroll </a> </li>

                <li class="nav-item"> <a class="nav-link" href="#" routerLink="/attendance" > <i class="bi bi-stopwatch-fill"></i> Attendance </a> </li>

            </ul> <!-- Divider -->
              <hr class="navbar-divider my-5 opacity-20">



          </div>
      </div>
  </nav> <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
      <!-- Header -->
      <header class="bg-surface-primary border-bottom pt-6">
          <div class="container-fluid">
              <div class="mb-npx">
                  <div class="row align-items-center">
                      <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                          <!-- Title -->
                          <h1 class="h2 mb-0 ls-tight text-success">Employee management system</h1>
                      </div> <!-- Actions -->
                      <div class="col-sm-6 col-12 text-sm-end">
                          <div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1"> <span class=" pe-2"> <i class="bi bi-person-square"></i> </span> <span> Account</span> </a> <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1" [routerLink]="['/login']" > <span class=" pe-2"><i class="bi bi-box-arrow-left"></i> </span> <span>Logout</span> </a> </div>
                      </div>
                  </div> <!-- Nav -->
                  <ul class="nav nav-tabs mt-4 overflow-x border-0">
                      <li class="nav-item "> <a href="#" class="nav-link active">Today Attendance</a> </li>
                  </ul>
              </div>
          </div>
      </header> <!-- Main -->
      <main class="py-6 bg-surface-secondary">
          <div class="container-fluid">
              <!-- Card stats -->

              <div class="card shadow border-0 mb-5">
                  <div class="card-header">
                    <div class="toolbar">
                       <button class="btn btn-outline-success btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle me-3"></i>Request For Leave</button>
                      <div class="search-employee">
                        <input type="search" class="form-control" placeholder="Search Employees">
                      </div>
                  </div>
                </div>
             </div>
<!-- table -->
   <table class="table" >
    <thead>
      <tr>

        <th scope="col" class="hidden">
          ID
        </th>
        <th scope="col">
       Leave Reason
         </th>
        <th scope="col">
        Leave Type
        </th>
        <th scope="col">
        From Date
        </th>
        <th scope="col">
        To Date
        </th>
        <th scope="col">
        Status
        </th>
        <!-- <th scope="col">
          View
          </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absent of absenteesToDisplay; let i = index; ">

        <td >{{absent.id }}</td>
        <td>{{absent.leaveReason}}</td>
        <td>{{absent.leaveType}}</td>

        <td>{{absent.dateFrom}}</td>
         <td>{{absent.dateTo}}</td>
        <td [ngSwitch]="State">
         <span class="badge rounded-pill text-bg-success" *ngSwitchCase="State.Success">Accepted</span>
         <span class="badge rounded-pill text-bg-warning" *ngSwitchCase="State.warning" >Denied</span>
         <span class="badge rounded-pill text-bg-danger" *ngSwitchCase="State.danger">Cancel</span>
         <span *ngSwitchDefault class="btn btn-danger" disabled>Unknown</span>
        </td>
        <!-- <td>   <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">View</button></td> -->
      </tr>


    </tbody>
  </table>
<!-- modal -->

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-primary fw-bold fs-5" id="exampleModalLabel">Request For Leave</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">

      <form [formGroup]="leaveForm" >
        <div class="row">
          <h6 class="text-dark fs-6">Leave Reason</h6>
        </div>
        <div class="row mt-5">
          <div class="col">
            <input type="text" class="form-control" placeholder="Leave Reason" formControlName="leaveReason">
            <div *ngIf="f['leaveReason'].touched && f['leaveReason'].invalid" class="alert alert-danger">
              <div *ngIf="f['leaveReason'].errors && f['leaveReason'].errors['required']">Leave Reason is required.</div>
              <!-- <div *ngIf="f['leavereason'].errors && f['leavereason'].errors['minlength']">Name should be 3 character.</div> -->
          </div>
          </div>
          <div class="row">
            <h6 class="text-dark fs-6 mt-3">Leave Type</h6>
          </div>
          <div class="row mt-3">
            <div class="col">
              <select class="form-select" formControlName="leaveType" >
                <option value="default" selected> Select your Leave Type </option>
                <option *ngFor="let option of LeaveTypeOptions; let i = index;" value="{{i}}">
                  {{option | titlecase}}
                </option>
              </select>
              <div *ngIf="f['leaveType'].touched && f['leaveType'].invalid" class="alert alert-danger">
                <div *ngIf="f['leaveType'].errors && f['leaveType'].errors['required']">Leave Type is required.</div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col">
            <label for="datepicker" class="form-label">Date From</label>
            <input type="date" class="form-control" id="datepicker" placeholder="Date" formControlName="dateFrom">
            <div *ngIf="f['dateFrom'].touched && f['dateFrom'].invalid" class="alert alert-danger">
              <div *ngIf="f['dateFrom'].errors && f['dateFrom'].errors['required']">Date From is required.</div>
          </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label for="datepicker" class="form-label">Date To</label>
            <input type="date" class="form-control" id="datepicker2" placeholder="Date" formControlName="dateTo">
            <div *ngIf="f['dateTo'].touched && f['dateTo'].invalid" class="alert alert-danger">
              <div *ngIf="f['dateTo'].errors && f['dateTo'].errors['required']">Date To is required.</div>
            </div>
          </div>
        </div>



      </form>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addLeave()">Insert</button>
    </div>
  </div>
  </div>
  </div>


  <!-- View Modal -->
  <!-- <div class="modal fade" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary fw-bold fs-5" id="exampleModalLabel">Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">

        <form >



          <div class="card mb-4">
            <div class="card-body">
              <p>Type your note, and hit enter to add it</p>

              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">

                  <p class="small mb-0 ms-2">Martha</p>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <p class="small text-muted mb-0">Upvote?</p>
                  <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                  <p class="small text-muted mb-0">3</p>
                </div>
              </div>
            </div>
          </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Ok</button>
      </div>
    </div>
    </div>
    </div> -->
