

           <form action="" class="mt-5 p-5"  [formGroup]="payslipForm">
              <h5 class="text-primary fs-5 mb-4">Per month no of working days : 22</h5>
               <div class="card shadow border-0 mb-5">
                <div class="card-header">
                <div class="row">
                  <div class="col">
                    <div class="col">
                      <label for="monthpicker" class="form-label">Month</label>
                      <p-calendar [(ngModel)]="date" placeholder="Month" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" inputId="monthpicker" formControlName="monthpicker"></p-calendar>
                      <div *ngIf="f['monthpicker'].touched && f['monthpicker'].invalid" class="alert alert-danger">
                        <div *ngIf="f['monthpicker'].errors && f['monthpicker'].errors['required']">Month is required.</div>
                    </div>
                    </div>
                  </div>
                   <div class="col">
                    <label for="yearpicker" class="form-label">Year Picker</label>
                    <input type="number" class="form-control" placeholder="Year" formControlName="yearpicker"  />
                    <div *ngIf="f['yearpicker'].touched && f['yearpicker'].invalid" class="alert alert-danger">
                      <div *ngIf="f['yearpicker'].errors && f['yearpicker'].errors['required']">Year is required.</div>
                  </div>
                  </div>
                  <!-- <div class="col mt-0">
                    <label for="salary" class="form-label">Actual Day</label>
                    <input
                      type="number" class="form-control" placeholder="Actual Day" formControlName="actualDay" [(ngModel)]="noOfWorkingDays" readonly hidden/>

                  </div> -->
                  <div class="col mt-0">
                    <label for="salary" class="form-label">Leave Day</label>
                    <input type="number" class="form-control" placeholder=" Leave Day" formControlName="leaveDay" (change)="leave()" [(ngModel)]="leaveDays" />
                    <div *ngIf="f['leaveDay'].touched && f['leaveDay'].invalid" class="alert alert-danger">
                      <div *ngIf="f['leaveDay'].errors && f['leaveDay'].errors['required']">Password is required.</div>
                  </div>
                  </div>
                  <div class="col mt-0">
                    <label for="salary" class="form-label">Actual Working Day</label>
                    <input
                      type="number" class="form-control" placeholder="Actual Working Day" formControlName="noOfActualWorking"  [(ngModel)]="noOfActualWorking" readonly/>
                      <div *ngIf="f['noOfActualWorking'].touched && f['noOfActualWorking'].invalid" class="alert alert-danger">
                        <div *ngIf="f['noOfActualWorking'].errors && f['noOfActualWorking'].errors['required']">Actual working day is required.</div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
           <div class="col">

              <ul class="list-group">
                <li class="list-group-item active">#</li>
                <li class="list-group-item">Basic</li>
                <li class="list-group-item">House Rent Allowance</li>
                <li class="list-group-item">Meal Allowance</li>
                <li class="list-group-item bg-info text-white">Net Salary</li>
                </ul>
            </div>
            <div class="col">

              <ul class="list-group">
                <li class="list-group-item active">Actual</li>
                <li class="list-group-item">{{pay.basic}}</li>
                <li class="list-group-item">{{pay.houseRentAllowance}}</li>
                <li class="list-group-item">{{pay.mealAllowance}}</li>
               <li class="list-group-item  bg-primary text-white">{{pay.basic+pay.houseRentAllowance+pay.mealAllowance}}</li>
              </ul>
            </div>
            <div class="col">

              <ul class="list-group">
                <li class="list-group-item active">Earnings</li>
                <li class="list-group-item">{{this.eariningBasic}}</li>
                <li class="list-group-item">{{this.eariningHA}}</li>
                <li class="list-group-item">{{this.eariningMA}}</li>
                <li class="list-group-item  bg-danger text-white">{{this.eariningNS}}</li>
              </ul>
            </div>
</div>
  </form>





  <!-- <p-table [value]="payrolls"  [responsive]="true"> -->
 <!-- <ng-template pTemplate="header">
  <tr>
      <th pSortableColumn="date"><label for="monthpicker" style="display: block; margin-bottom: 10px;">Month Picker</label>
        <p-calendar [(ngModel)]="dateValue" view="month" dateFormat="mm/yy" placeholder="Month Picker"></p-calendar></th>


        <th pSortableColumn="NoofWorkingDays">  <label for="NoofWorkingDays" style="display: block; margin-bottom: 10px;">No of Working Days</label>
          <p-inputNumber [(ngModel)]="value0" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="30">
          </p-inputNumber></th>


      <th pSortableColumn="salary">Salary</th>
      <th pSortableColumn="salary">Meal Allowance<p-sortIcon field="mealAllowance"></p-sortIcon> </th>
      <th pSortableColumn="total">Total<p-sortIcon field="total"></p-sortIcon></th>
      <th style="width:4em"></th>
  </tr>
</ng-template> -->
  <!-- <ng-template pTemplate="body" let-payroll>
  <tr> -->
      <!-- <td>{{payroll.employeeName}}</td>
      <td>{{payroll.basic}}</td> -->
      <!-- <td>{{payroll.salary}}</td> -->
      <!-- <td>{{payroll.mealAllowance}}</td>
      <td>{{payroll.total}}</td> -->
      <!-- <td>
          <button type="button" pButton icon="pi pi-search"></button>
      </td> -->
  <!-- </tr>
</ng-template> -->
<!-- </p-table> -->
