
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <!-- Vertical Navbar -->
  <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
      <div class="container-fluid">
          <!-- Toggler --> <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> <!-- Brand -->  <div class="icon"><img src="../../assets/login_img.svg" class="avatar avatar-sm rounded-circle ms-3">
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-2 logo fs-2 mt-0" href="#"> Employee </a>
          </div>

          <div class="collapse navbar-collapse" id="sidebarCollapse">
              <!-- Navigation -->
              <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="#" routerLink="/employee-dashboard"> <i class="bi bi-house"></i> Dashboard </a> </li>
                <li class="nav-item"> <a class="nav-link" href="#" routerLink="/emp-payroll" > <i class="bi bi-bar-chart"></i> Payroll </a> </li>

                <li class="nav-item"> <a class="nav-link" href="#" routerLink="/attendance" > <i class="bi bi-stopwatch-fill"></i> Attendance </a> </li>

            </ul> <!-- Divider -->
              <hr class="navbar-divider my-5 opacity-20">



          </div>
      </div>
  </nav> <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
      <!-- Header -->
      <header class="bg-surface-primary border-bottom pt-6">
          <div class="container-fluid">
              <div class="mb-npx">
                  <div class="row align-items-center">
                      <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                          <!-- Title -->
                          <h1 class="h2 mb-0 ls-tight text-success">Employee management system</h1>
                      </div> <!-- Actions -->
                      <div class="col-sm-6 col-12 text-sm-end">
                          <div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1"> <span class=" pe-2"> <i class="bi bi-person-square"></i> </span> <span> Account</span> </a> <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1" [routerLink]="['/login']" > <span class=" pe-2"><i class="bi bi-box-arrow-left"></i> </span> <span>Logout</span> </a> </div>
                      </div>
                  </div> <!-- Nav -->
                  <ul class="nav nav-tabs mt-4 overflow-x border-0">
                      <li class="nav-item "> <a href="#" class="nav-link active">Profile Page</a> </li>
                  </ul>
              </div>
          </div>
      </header> <!-- Main -->
      <main class="py-6 bg-surface-secondary">
          <div class="container-fluid">
              <!-- Card stats -->


                   <!-- Area to display the Employee -->
                   <div class="employees">


                      <div class="row mt-4">
                        <div class="col">
                          <div class="container-fluid g-0 p-2">

                            <div class="row g-0">

                                <div class="col-md-2 d-flex justify-content-center align-items-center ">
                                  <div class="text-center text-dark fs-6 fst-italic mt-auto" >Profile Image
                                    <img src="assets/images/{{ID.profile}}" alt="Profile Image" class="profile mb-6">
                                  </div>
                                </div>

                                <div class="col ps-2">

                                    <div class="row g-0">

                                        <div class="col-md-10 text-center">
                                            <span class="name">{{ID.firstname | titlecase}} {{ID.lastname | titlecase}}</span>
                                        </div>



                                    </div>

                                    <div class="row g-0 mt-3">

                                        <div class="col-md">

                                            <table class="table table-hover mx-auto">
                                                <thead class="text-center fs-5 fst-italic text-secondary">
                                                    <tr>
                                                        <td colspan="2" class="text-dark fs-6">Personal Details</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="fw-bold">Birthdate :</td>
                                                        <td>{{ID.birthday}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold">Gender :</td>
                                                        <td>{{ID.gender == 'm' ? "Male" : "Female"}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold">Education :</td>
                                                        <td>{{ID.education | titlecase}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                        <div class="col">

                                            <table class="table table-hover mx-auto">
                                                <thead class="text-center fs-5 fst-italic text-secondary">
                                                    <tr>
                                                        <td colspan="2"  class="text-dark fs-6">Job Details</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="fw-bold">Company :</td>
                                                        <td>{{ID.company | titlecase}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold">Experience :</td>
                                                        <td>{{ID.jobExperience}} yrs</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold">Salary :</td>
                                                        <td>{{ID.salary}} LPA</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>

                                </div>

                            </div>

                          </div>


                        </div>
                      </div>
                   </div>
          </div>
      </main>
  </div>
</div>
