<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <img src="../../assets/login_img.svg" height="100%" width="100%">
      </div>
      <div class="col-md-4 mt-auto mb-auto">
          <h3 class="text-success text-center"><b>Employee management system</b></h3>
          <form [formGroup]="registerForm" (ngSubmit)="signUp()">
            <div class="form-group mb-3">
                <input id="inputUsername" type="text" formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.username">Username must be a 6 characters </div>
                 </div>
            </div>
            <div class="form-group mb-3">
              <input id="inputEmail" type="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
               </div>
          </div>
            <div class="form-group mb-5">
                <input id="inputPassword" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                 </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block text-uppercase rounded-pill shadow-sm " [disabled]="registerForm.invalid">Register</button>
            <p  class="text-center fs-6 ml-1"> Have already an account ?<button type="button" class="btn btn-secondary rounded-pill text-center ms-3 text-light" routerLink="/login"> Login</button></p>

        </form>

      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>
